.main-content{
    margin-left: 220px;
}

p {
    color: #26201C;
}



.coffee-flights-header > h1, h2, h3 {
    text-shadow: 2px 2px #ECB176;
}

.banner-container {
    width: 100%;
    height: 30vh;
    
}

.coffee-flights-header a {
    text-decoration: none;
    color:#26201C;
}

.coffee-flights-header a:hover {
    opacity: 0.8;

}

.coffee-flights-header a:active {
    opacity: 0.6;

}





 /* menu header*/

 .coffee-flights-header {
    text-align: center;
    margin-top: 10vw;
    font-size: 22px;
    
 }

 .coffee-flights-content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap;
    background-color: #fdc892;
    border-radius: 10%;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    min-height: 100vh;
    margin-bottom: 50px;
}

.top-line {
    border: 1px solid rgba(216, 152, 99, 0.3);
    width: 65%;
    margin-bottom: 20px;
}

.bottom-line {
    border: 1px solid rgba(216, 152, 99, 0.3);
    width: 75%;
    margin-bottom: 50px;
}

.right-column, .left-column {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1; /* this single line centers everything */
    width: 100%;
}

/* bring both columns closer to center */
.left-column {
    margin-left: 20px;
}

.right-column {
    margin-right: 20px;
}

.menu-content {
    margin-bottom: 40px;
}

.bottom-note {
    text-align: center;

}





    .menu-footer {
        margin-top: auto; /* Pushes footer to the bottom */width: 100%;
        text-align: center; /* Centers text inside the footer */padding: 1rem; /* Optional, for spacing */
      }
  


.flights-photos {
    display: flex;
    gap: 18px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  #A67B5B;
}


.img {
    width: 220px;
    box-shadow: 04px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img:hover {
    transform: scale(1.1);
    box-shadow: 01px 1px rgba(0, 0, 0, 0.3);
}
