.main-content{
    margin-left: 220px;
}

p {
    color: #26201C;
}



.coffee-flights-header > h1, h2, h3 {
    text-shadow: 2px 2px #ECB176;
}

.banner-container {
    width: 100%;
    height: 30vh;
    
}

p:not(:first-child) {
    font-size: 18px;
}



.banner {
    width: 100%;
    height: 40vh;
    background-image: url(/images/coffeepour2.jpg);
    background-size: cover;
    background-position: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-text-right {
    color: #FED8B1;
    margin-left: auto;
    padding-right: 120px;
    padding-left: 15px;
    background-color: rgba(166, 123, 91, 0.5);
    margin-right: 10vw;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 20px;
}

.right-text-content h1{
    font-size: 2.7em;
    margin-top: -6px;
}

.right-text-content {
    padding-bottom: 2px;
    padding-left: 2vw;
    margin-bottom: 5px;
}


.right-container-line {
    border: 1px solid rgb(216, 152, 99);
    width: 210px;
    margin-right: 70px;
 }

.banner-text-left {
    color: #FED8B1;
    margin-right: auto;
    font-size: 1.5em;
    display: flex;
 }

 .left-text-content {
    padding-left: 8vw;
    padding-top: 20vh; 
    font-size: 2vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
 }



 /* menu header*/

 .coffee-flights-header {
    text-align: center;
    margin-top: 10vw;
    font-size: 22px;
    
 }

 .coffee-flights-content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap;
    background-color: #fdc892;
    border-radius: 10%;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 35px;
    min-height: 100vh;
    margin-bottom: 50px;
}

.top-line {
    border: 1px solid rgba(216, 152, 99, 0.3);
    width: 65%;
    margin-bottom: 20px;
}

.bottom-line {
    border: 1px solid rgba(216, 152, 99, 0.3);
    width: 85%;
    margin-bottom: 50px;
}

.right-column, .left-column {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1; /* this single line centers everything */
    width: 100%;
}

/* bring both columns closer to center */
.left-column {
    margin-left: 20px;
}

.right-column {
    margin-right: 20px;
}

.menu-content {
    margin-bottom: 40px;
}

.bottom-note {
    text-align: center;

}





    .menu-footer {
        margin-top: auto; /* Pushes footer to the bottom */width: 100%;
        text-align: center; /* Centers text inside the footer */padding: 1rem; /* Optional, for spacing */
      }
  


.flights-photos {
    display: flex;
    gap: 18px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:  #A67B5B;
}


.img {
    width: 220px;
    box-shadow: 04px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img:hover {
    transform: scale(1.1);
    box-shadow: 01px 1px rgba(0, 0, 0, 0.3);
}
