body, button {
    margin: 0;
    padding: 0;
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    background: #FED8B1;
}


.main-content{
    margin-left: 220px;
}
.nav-logo {
    display: block;
    width: 180px;
    padding-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
}



.nav-button {
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    color:#26201C;
    cursor: pointer;
    font-size: 20px;
    transition: opacity 0.4;
}

.nav-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.nav-button:hover {
    opacity: 0.8;
}

.nav-button:active {
    opacity: 0.6;
}

nav {
   position: fixed;
   left: 0;
   top: 0;
   background-color: #6d5c51;
   width: 220px;
   height: 100%;
   padding-top: 50px;
   z-index: 1000; /* ensures it stays on top of other content */
   align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav ul li {
   padding: 20px 10px;
   position: relative;
   width: 100%;
   text-align: center;
}

nav ul li:not(:last-child)::after {
    content: "";
    display: block;
    border-bottom: 1px solid #5f4c39;
    width: 70%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

nav ul li a {
    color: #FED8B1;
    text-decoration: none;
    display: block;
    width: 100%;
}

nav ul li a:hover {
    opacity: 0.8
}

nav ul li a:active {
    opacity: 0.6;
}

nav p {
    margin-top: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color:#FED8B1;
}

.banner-container {
    width: 100%;
    height: 30vh;
    
}

.banner {
    width: 100%;
    height: 40vh;
    background-image: url(/images/coffeepour2.jpg);
    background-size: cover;
    background-position: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-text-right {
    color: #FED8B1;
    margin-left: auto;
    padding-right: 120px;
    padding-left: 15px;
    background-color: rgba(166, 123, 91, 0.5);
    margin-right: 10vw;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 20px;
}

.right-text-content h1{
    font-size: 2.7em;
}

.right-text-content {
    padding-bottom: 2px;
    padding-left: 2vw;
}

.right-container-line {
    border: 1px solid rgb(216, 152, 99);
    width: 210px;
    margin-right: 70px;
 }

.banner-text-left {
    color: #FED8B1;
    margin-right: auto;
    font-size: 1.5em;
    display: flex;
 }

 .left-text-content {
    padding-left: 8vw;
    padding-top: 20vh; 
    font-size: 2vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
 }

 .icons-container {
    display: flex;
    padding-top: 180px;
    padding-bottom: 50px;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 60px;
 }

 .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vw;
    text-align: center;
    flex: 1;
    max-width: 25%;
}

.icon-content p a {
    color:#26201C;
    text-decoration: none;
}

.icon-content p a:hover {
    opacity: 0.8;
}

.icon-content p a:active {
    opacity: 0.6;
}


 
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(166,123,91);;
    padding-bottom: 70px;
    padding-top: 70px;
    color: #FED8B1;
   
}

.form-group {
    margin-bottom: 25px;
    width: 500px;
}


input[type="text"], input[type="email"],textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid;
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
    margin-top: 5px;
    background-color: #FED8B1;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 150px; 
    resize: vertical; 
    border-radius: 30px;
    border: none;
    background-color: #FED8B1;
    
}

#message {
    padding-left: 15px;
    padding-top: 15px;
    
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus { 
    outline: none;
    box-shadow: 0 0 5px rgba(103, 58, 3, 0.834)
    
}

input[type="text"]:valid, input[type="email"]:valid, textarea:valid { 
    outline: none;
    box-shadow: none;
    border-color: initial;
    
}

.inline-form-group .form-group {
    float: left;
    width: 48%;
}

.inline-form-group .form-group:nth-child(2) {
    margin-left: 4%;
}


input::placeholder,
textarea::placeholder {
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px; 
    opacity: 1; 
    text-align: left;
    color: #6d5c51;
}

.submit-button {
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 30px;
    background-color: #FED8B1;
    color:  #26201C;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.submit-button:hover {
    opacity: 0.8;
}

.submit-button:active {
    opacity: 0.6;
    
}


.footer-container{
    padding-top: 90px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.footer-container h2 {
    color:#26201C;
}

.footer-container p {
    color: #6d5c51;
}

.footer-container a {
    text-decoration: none;
    color:#6d5c51;
}

.footer-container a:hover {
    color:#564940;
}

.footer-break {
    border-top: 1px solid #eaa158;
    margin-top: 25px;
    margin-bottom: 25px;
}

.copyright {
    text-align: center;
    margin-bottom: 40px;
}


.footer-container, .copyright {
    background-color: #FED8B1;
}

.image-icons {
    width: 58px;
}

.icon-image {
    width: 50px;
    height: 50px;
}


